#all {
	display: block;
	width: 33%;
	float: right;
	margin: auto 0;
}

body {
	background-color: #253141;
	color: #f7f5f2;
	font-family: Ubuntu, sans;
}

a:link{
	color: #253141;
	background-color: #f7f5f2;
	text-decoration: none;
}
a:hover{
	color: #f7f5f2;
	background-color: #253141;
	text-decoration: none;
}
a:active{
	color: #f7f5f2;
	background-color: #253141;
	text-decoration: none;
}
a:visited{
	color: #253141;
	background-color: #f7f5f2;
	text-decoration: none;
}